<% provide(:title, @user.name) %>
<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<!-- <% @user.ratings.each do |rating| %> -->
<!-- <li><%= rating.song_name %> <%= rating.artist_name %> <%= rating.rating_num %>  -->
<% end %>
